<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205207861126-r9nnronm0fml9m9ml4j8q064hlh5vkt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205207861126-r9nnronm0fml9m9ml4j8q064hlh5vkt0</string>
	<key>API_KEY</key>
	<string>AIzaSyBvQRt5zmCLiAh32Q63onOk4uas1iQu2Uo</string>
	<key>GCM_SENDER_ID</key>
	<string>205207861126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jun.ChatSwift</string>
	<key>PROJECT_ID</key>
	<string>swift-chat-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-chat-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205207861126:ios:82843439f641a099fd5e07</string>
</dict>
</plist>